module.exports = {
    files: [
        {
            path: '/Users/oleksiy/src/tmp/files.access.log',
            fields: {
                module: 'nginx-files'
            },
            /*multiline: {
                pattern: /^\d{4}/, // doesn't start with year (timestamp)
                negatePattern: true
            }*/
        }
    ]
}
